@font-face {
    font-family: "get_schwifty";
    src: url(./../../resources/get_schwifty.ttf);
}
@font-face {
    font-family: "comic_neue";
    src: url(./../../resources/ComicNeue-Regular.ttf);
}


.DetailDiv {
    display: flex;
    align-items: center; 
    height: 800px;
    width: 100%;
    margin-top: 100px;
    
}

.imgName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
}

.img {
    width: 600px;
    border-radius: 20px;
    border: 5px solid #369eb0;
}

.infoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

.name{
    text-align: center;
    text-decoration: none;
    font-family: "get_schwifty";
    font-size: 60px;
    width: 800px;
    color:rgb(24, 116, 24);
    text-shadow: 
    -1px -1px 0 #B8D740,
    1px -1px 0 #B8D740,
    -1px 1px 0 #B8D740,
    1px 1px 0 #B8D740;
}

.h2info{
    display: flex;
    justify-content: center;
    width: 500px;
    font-family: "comic_neue";
    font-size: 30px;
    text-align: center;
    color:rgb(255, 190, 50);
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.propText {
    color:rgb(55, 55, 255);
}