@font-face {
    font-family: "get_schwifty";
    src: url(./../../resources/get_schwifty.ttf);
}
@font-face {
    font-family: "comic_neue";
    src: url(./../../resources/ComicNeue-Regular.ttf);
}

.aboutDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    padding: 20px;
    color:rgb(21, 112, 21);
    font-family: "get_schwifty";
    font-size: 45px;
    text-shadow: 
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.pText{
    margin-left: 150px;
    margin-right: 150px;
    font-family: "comic_neue";
    font-size: 30px;
    color: rgb(223, 201, 79);
    text-shadow: 
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}